<section class="max-w-prose mx-auto my-6">
  <h1 class="text-3xl font-bold">Learn about green jobs and skills</h1>

  <p class="my-5">
    <%= link_to 'Top green jobs', top_path %>
  </p>

  <p class="my-5">Or, explore a green occupation...</p>

  <select name="" id="">
    <option value=""></option>
    <%- Occupation.order(:name).each do |o| %>
      <option value=<%= o.id %>><%= o.name %></option>
    <% end %>
  </select>
</section>
