<section class="bg-img h-96 flex items-center">
  <div class="max-w-screen-lg mx-auto p-4">
    <h1 class="text-3xl sm:text-5xl text-white font-bold w-full md:w-2/3 mb-3 sm:mb-8">
      Learn about green jobs and skills
    </h1>
    <p class="text-xl text-stone-200 leading-relaxed mb-5 w-full md:w-2/3 mb-3 sm:mb-8">
      Developing a way to measure and identify green jobs to help grow the sector.
    </p>

    <%= link_to occupations_path, class: 'inline-flex felx gap-2 mb-4 bg-blue-700 hover:bg-blue-800 px-6 py-4 text-white font-bold text-lg no-underline' do %>
      <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#FFFFFF"><path d="M10.5857 10.5857L16.9496 7.0502L13.4141 13.4142L7.05012 16.9497L10.5857 10.5857Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
      Explore green jobs
    <% end %>

    <%= link_to compare_path, data: { turbo: false }, class: 'inline-flex felx gap-2 mb-4 bg-violet-700 hover:bg-violet-800 px-6 py-4 text-white font-bold text-lg no-underline' do %>
      <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#FFFFFF"><path d="M9 21H15M9 21V16M9 21H3.6C3.26863 21 3 20.7314 3 20.4V16.6C3 16.2686 3.26863 16 3.6 16H9M15 21V9M15 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H15.6C15.2686 3 15 3.26863 15 3.6V9M15 9H9.6C9.26863 9 9 9.26863 9 9.6V16" stroke="#FFFFFF" stroke-width="1.5"></path></svg>
      Compare green jobs
    <% end %>
  </div>
</section>

<div class="bg-stone-200 py-8">
  <section class="max-w-screen-md mx-auto px-4">
    <h2 class="text-2xl font-bold mb-2">What makes a green job?</h2>
    <p class="text-lg mb-5">We've analysed over 8 million job adverts and counting since 2001 to measure how "green" they are. A jobs greeness is based on...</p>
    <div class="flex gap-2 justify-between">
      <div class="flex flex-col gap-2 items-center text-center text-green-900">
        <svg width="55px" height="55px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#14532d"><path d="M10.0503 10.6066L2.97923 17.6777C2.19818 18.4587 2.19818 19.7251 2.97923 20.5061V20.5061C3.76027 21.2872 5.0266 21.2872 5.80765 20.5061L12.8787 13.4351" stroke="#14532d" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.1927 13.7994L21.071 17.6777C21.8521 18.4587 21.8521 19.7251 21.071 20.5061V20.5061C20.29 21.2872 19.0236 21.2872 18.2426 20.5061L12.0341 14.2977" stroke="#14532d" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6.73267 5.90381L4.61135 6.61092L2.49003 3.07539L3.90424 1.66117L7.43978 3.78249L6.73267 5.90381ZM6.73267 5.90381L9.5629 8.73404" stroke="#14532d" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10.0503 10.6066C9.2065 8.45359 9.37147 5.62861 11.111 3.8891C12.8505 2.14958 16.0607 1.76778 17.8285 2.82844L14.7878 5.86911L14.5052 8.98015L17.6162 8.69754L20.6569 5.65686C21.7176 7.42463 21.3358 10.6349 19.5963 12.3744C17.8567 14.1139 15.0318 14.2789 12.8788 13.435" stroke="#14532d" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        Number of green skills
      </div>
      <div class="flex flex-col gap-2 items-center text-center text-purple-900">
        <svg width="55px" height="55px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#581c87"><path d="M18 10C18 9 17 8 15 8C14.6978 8 14.355 8 14.0002 8C12.3434 8 11 6.65685 11 5V2" stroke="#581c87" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18 21H21V12H18V16.5M18 21V16.5M18 21L3 21V17L6.5 14L10.5 16.5L14.5 14L18 16.5" stroke="#581c87" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 10C21 4 17 4 17 4C17 4 21 4.5 21 2" stroke="#581c87" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        Industry emissions
      </div>
      <div class="flex flex-col gap-2 items-center text-center text-blue-900">
        <svg width="55px" height="55px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#1e3a8a"><path d="M12 6L12 12L18 12" stroke="#1e3a8a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#1e3a8a" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        Time on green tasks
      </div>
    </div>
  </section>
</div>

<section class="max-w-prose mx-auto px-4 my-8">
  <h2 class="text-xl font-bold mb-2">About this tool</h2>
  <p class="mb-4">
    At Nesta, we're measuring the greenness of every job advert to help facilitate the transition of the UK workforce to net zero. Central to this research is our ever-growing database of almost 8 million online job postings, collected since 2021.
  </p>
  <p class="mb-4">
    To generate rich and novel data about green jobs, we extract information about skills, occupation and industry from job adverts. Once this information is extracted, we match it to existing datasets that tell us how green a given skill, occupation or industry is.
  </p>
  <p class="mb-4">
    For example, a job advert may have a high proportion of skills that are found within validated green skill lists; the occupation the job advert is advertising for may have a high green timeshare (based on validated green task definitions); and the industry the role is advertised in may have low greenhouse gas emissions per employee.
  </p>
  <p class="mb-4">
    To make the data on these measures for our millions of job adverts more digestible, this tool aggregates and averages the data per standardised occupation and region. This allows us to give each occupation three green ratings, depending on: the skills required for that occupation, whether the occupation itself is considered green, and the industry the occupation most commonly appears in. We also aggregate these measures to produce a measure of "overall greenness".
  </p>

  <h3 class="text-lg font-bold mb-2 text-gray-600">Good to know</h3>
  <p class="text-gray-600">
    The data you can explore here is produced from a random sample of 1 million job adverts collected since 2021. The data is also deduplicated where two job adverts are posted from the same location and have the same job description. Due to this, we are unable to make a comment about demand for a given occupation or provide information on the number of “green jobs”. Rather, the tool provides detailed information about the comparative greenness of occupations and regions, as well as giving information about the green skills commonly asked for per occupation.
  </p>
</section>
