<section class="bg-img h-96 flex items-center">
  <div class="max-w-screen-lg mx-auto p-4">
    <h1 class="text-5xl text-white font-bold w-full md:w-2/3 mb-8">
      Learn about green jobs and skills
    </h1>
    <p class="text-xl text-stone-200 leading-relaxed mb-5 w-full md:w-2/3 mb-8">
      Developing a way to measure and identify green jobs to help grow the sector.
    </p>

    <%= link_to 'Explore top green jobs', occupations_path, class: 'inline-block mb-4 bg-blue-700 hover:bg-blue-800 px-6 py-4 text-white font-bold text-lg no-underline' %>
  </div>
</section>

<section class="max-w-prose mx-auto my-8">
  <p class="my-5">Or, jump to an occupation...</p>

  <select data-controller="choices" data-action="choices#occupation">
    <option value=""></option>
    <%- Occupation.order(:name).each do |o| %>
      <option value=<%= o.id %>><%= o.name %></option>
    <% end %>
  </select>

  <h2 class="text-xl font-bold mb-2">About this tool</h2>
  <p class="mb-4">
    This tool is part of a project that aims to develop a way of measuring the greenness of online job adverts. Without a clear definition of what green jobs and skills are, and useful ways to measure them, policymakers, employers and other crucial actors cannot make informed decisions or plan effectively for one of our most significant workforce transitions.
  </p>
  <p>
    We want to help solve this problem by creating an open-source approach to measure greenness at the job advert level, using a multi-dimensional measure to identify how green a given job advert is based on industry, occupation and skills. This prototype tool is one way we're making this data available and usable to people interested in the green jobs system.
  </p>
</section>
