<section class="max-w-prose mx-auto">
  <h1 class="text-2xl font-bold">
    Top green jobs
  </h1>

  <p class="text-lg my-5">Blurb about...</p>

  <img src="https://placehold.co/650x350/e5e7eb/31343C?text=Chart" alt="placeholder">

  <h2 class="text-lg font-bold my-5">Top green jobs by industry</h2>

  <select name="" id="">
    <option value=""></option>
    <option value="">Industry 1</option>
    <option value="">Industry 2</option>
    <option value="">Industry 3</option>
  </select>

  <ul>
    <%- @occupations.each do |o| %>
      <li class="p-2 bg-gray-200 my-2">
        <%= link_to o.name, o %> |
        <%= o.green_timeshare %>% time on green tasks
      </li>
    <% end %>
  </ul>
</section>
