<div id="chart5"></div>
<script>
  (function (vegaEmbed) {
    var spec = {
      config: {
        title: { font: "Century Gothic", anchor: "start" },
        axis: { labelFont: "Century Gothic", titleFont: "Century Gothic" },
        header: {
          labelFont: "Century Gothic",
          titleFont: "Century Gothic",
        },
        legend: {
          labelFont: "Century Gothic",
          titleFont: "Century Gothic",
        },
        range: {
          category: [
            "#FDB633",
            "#18A48C",
            "#9A1BBE",
            "#EB003B",
            "#FF6E47",
            "#646363",
            "#0F294A",
            "#97D9E3",
            "#A59BEE",
            "#F6A4B7",
            "#D2C9C0",
            "#000000",
          ],
          ordinal: {
            scheme: [
              "#FDB633",
              "#18A48C",
              "#9A1BBE",
              "#EB003B",
              "#FF6E47",
              "#646363",
              "#0F294A",
              "#97D9E3",
              "#A59BEE",
              "#F6A4B7",
              "#D2C9C0",
              "#000000",
            ],
          },
        },
        view: { stroke: null },
      },
      hconcat: [
        {
          vconcat: [
            {
              hconcat: [
                {
                  data: { name: "data-03500905ec1f7fb8a57666edd14dc009" },
                  mark: { type: "bar", color: "#964B00", opacity: 0.8 },
                  encoding: {
                    x: {
                      field: "tfidf_score",
                      title: "TF-IDF Score",
                      type: "quantitative",
                    },
                    y: {
                      field: "skill",
                      sort: "-x",
                      title: "Skill",
                      type: "nominal",
                    },
                  },
                },
                {
                  data: { name: "data-0f67384897b418237d7a6fff3b36a0d1" },
                  mark: { type: "bar", color: "#C4A484", opacity: 0.8 },
                  encoding: {
                    x: {
                      field: "tfidf_score",
                      title: "TF-IDF Score",
                      type: "quantitative",
                    },
                    y: {
                      field: "skill",
                      sort: "-x",
                      title: "",
                      type: "nominal",
                    },
                  },
                },
              ],
            },
            {
              hconcat: [
                {
                  data: { name: "data-35eab988def12010c61804c70cff3600" },
                  mark: { type: "bar", color: "#90EE90", opacity: 0.8 },
                  encoding: {
                    x: {
                      field: "tfidf_score",
                      title: "TF-IDF Score",
                      type: "quantitative",
                    },
                    y: {
                      field: "skill",
                      sort: "-x",
                      title: "Skill",
                      type: "nominal",
                    },
                  },
                },
                {
                  data: { name: "data-9e2415a6a3e77b9472b84d2b095fc346" },
                  mark: { type: "bar", color: "#023020", opacity: 0.8 },
                  encoding: {
                    x: {
                      field: "tfidf_score",
                      title: "TF-IDF Score",
                      type: "quantitative",
                    },
                    y: {
                      field: "skill",
                      sort: "-x",
                      title: "",
                      type: "nominal",
                    },
                  },
                },
              ],
            },
          ],
          title: "Top 10 non-green skills for each occupation group",
        },
        {
          data: { name: "data-a092580b3e553d4d8deff6d61ac90232" },
          mark: { type: "circle", opacity: 0.8, size: 0 },
          encoding: {
            color: {
              field: "greenness",
              legend: { title: "" },
              scale: {
                domain: ["low-mid", "low", "mid-high", "high"],
                range: ["#C4A484", "#964B00", "#90EE90", "#023020"],
              },
              type: "nominal",
            },
            x: { axis: null, field: "x", title: "", type: "quantitative" },
            y: { axis: null, field: "y", title: "", type: "quantitative" },
          },
          height: 100,
          width: -1,
        },
      ],
      $schema: "https://vega.github.io/schema/vega-lite/v5.15.1.json",
      datasets: {
        "data-03500905ec1f7fb8a57666edd14dc009": [
          {
            skill_id: "334e3e49-fb02-4051-809a-f06adfdc1c40",
            tfidf_score: 0.1211488116911075,
            skill: "problem solve",
          },
          {
            skill_id: "3cd569a2-4f88-4c1e-9995-8dce8c5e51a7",
            tfidf_score: 0.11939551085124325,
            skill: "JavaScript",
          },
          {
            skill_id: "ebfe7b18-1fad-463f-9509-8ef1a5736045",
            tfidf_score: 0.11570360095266732,
            skill: "be flexible",
          },
          {
            skill_id: "15a33d76-4640-438d-ae64-fdc0c1d3eebc",
            tfidf_score: 0.10824850876365105,
            skill: "customer service",
          },
          {
            skill_id: "d3eccb86-f02d-4950-bfbd-20b9510774a1",
            tfidf_score: 0.10447107199483785,
            skill: "employ organisational techniques",
          },
          {
            skill_id: "5cd1930c-278d-4929-b413-27352f5b3687",
            tfidf_score: 0.09530544240107597,
            skill: "cope with uncertainty",
          },
          {
            skill_id: "d9013e0e-e937-43d5-ab71-0e917ee882b8",
            tfidf_score: 0.08233386708175514,
            skill: "set priorities",
          },
          {
            skill_id: "S1.8.0",
            tfidf_score: 0.08212004990616194,
            skill: "working with others",
          },
          {
            skill_id: "c624c6a3-b0ba-4a31-a296-0d433fe47e41",
            tfidf_score: 0.08193474168731449,
            skill: "creative thinking",
          },
          {
            skill_id: "A2.2.0",
            tfidf_score: 0.0767888749947048,
            skill: "demonstrate good manners",
          },
        ],
        "data-0f67384897b418237d7a6fff3b36a0d1": [
          {
            skill_id: "ebfe7b18-1fad-463f-9509-8ef1a5736045",
            tfidf_score: 0.1037029772312652,
            skill: "be flexible",
          },
          {
            skill_id: "d3eccb86-f02d-4950-bfbd-20b9510774a1",
            tfidf_score: 0.099751559095781,
            skill: "employ organisational techniques",
          },
          {
            skill_id: "d9013e0e-e937-43d5-ab71-0e917ee882b8",
            tfidf_score: 0.09770030147736046,
            skill: "set priorities",
          },
          {
            skill_id: "a0cad388-3c4c-4786-b238-fc39f8c495af",
            tfidf_score: 0.0919082459253471,
            skill: "confidence",
          },
          {
            skill_id: "4707da90-9cfc-46ca-8de0-38a0b7bfb137",
            tfidf_score: 0.08085984272613111,
            skill: "analytical thinking",
          },
          {
            skill_id: "S1.8.0",
            tfidf_score: 0.07515020377485787,
            skill: "working with others",
          },
          {
            skill_id: "7a147904-22b3-498a-b4d9-7bceeb86b45d",
            tfidf_score: 0.07384527426313944,
            skill: "work under pressure",
          },
          {
            skill_id: "A2.2.0",
            tfidf_score: 0.0724579281506809,
            skill: "demonstrate good manners",
          },
          {
            skill_id: "bd14968e-e409-45af-b362-3495ed7b10e0",
            tfidf_score: 0.06625842028888704,
            skill: "cloud computing",
          },
          {
            skill_id: "113b4428-0a31-4199-8496-070af7854b91",
            tfidf_score: 0.06212838085792033,
            skill: "work to deadlines",
          },
        ],
        "data-35eab988def12010c61804c70cff3600": [
          {
            skill_id: "ebfe7b18-1fad-463f-9509-8ef1a5736045",
            tfidf_score: 0.11065780195451815,
            skill: "be flexible",
            greenness: "mid-high",
          },
          {
            skill_id: "d3eccb86-f02d-4950-bfbd-20b9510774a1",
            tfidf_score: 0.10068863060726425,
            skill: "employ organisational techniques",
            greenness: "mid-high",
          },
          {
            skill_id: "d9013e0e-e937-43d5-ab71-0e917ee882b8",
            tfidf_score: 0.09729068769735519,
            skill: "set priorities",
            greenness: "mid-high",
          },
          {
            skill_id: "4707da90-9cfc-46ca-8de0-38a0b7bfb137",
            tfidf_score: 0.08973658321168956,
            skill: "analytical thinking",
            greenness: "mid-high",
          },
          {
            skill_id: "a0cad388-3c4c-4786-b238-fc39f8c495af",
            tfidf_score: 0.08313727260153558,
            skill: "confidence",
            greenness: "mid-high",
          },
          {
            skill_id: "0550431f-9c8b-4204-9c45-59bc5feacf06",
            tfidf_score: 0.0808204933447794,
            skill: "continuous improvement strategies",
            greenness: "mid-high",
          },
          {
            skill_id: "d15ce60f-ddab-41ce-ba56-398451b77b60",
            tfidf_score: 0.07444584011709875,
            skill: "be computer-literate",
            greenness: "mid-high",
          },
          {
            skill_id: "S1.8.0",
            tfidf_score: 0.07304173147664045,
            skill: "working with others",
            greenness: "mid-high",
          },
          {
            skill_id: "4ca91852-c534-4b98-ab1c-59a126534c88",
            tfidf_score: 0.06988248703560929,
            skill: "project management",
            greenness: "mid-high",
          },
          {
            skill_id: "7a147904-22b3-498a-b4d9-7bceeb86b45d",
            tfidf_score: 0.06829584427189142,
            skill: "work under pressure",
            greenness: "mid-high",
          },
        ],
        "data-9e2415a6a3e77b9472b84d2b095fc346": [
          {
            skill_id: "T3.2",
            tfidf_score: 0.12452733304220913,
            skill: "taking a proactive approach",
          },
          {
            skill_id: "334e3e49-fb02-4051-809a-f06adfdc1c40",
            tfidf_score: 0.11657877986930217,
            skill: "problem solve",
          },
          {
            skill_id: "76415d7f-0fde-4364-b45f-5c044580d2aa",
            tfidf_score: 0.1086302266963952,
            skill: "AutoCAD drawing",
          },
          {
            skill_id: "d15ce60f-ddab-41ce-ba56-398451b77b60",
            tfidf_score: 0.10598070897209287,
            skill: "be computer-literate",
          },
          {
            skill_id: "d3eccb86-f02d-4950-bfbd-20b9510774a1",
            tfidf_score: 0.10068167352348822,
            skill: "employ organisational techniques",
          },
          {
            skill_id: "113b4428-0a31-4199-8496-070af7854b91",
            tfidf_score: 0.09803215579918591,
            skill: "work to deadlines",
          },
          {
            skill_id: "dbeb6d2c-3ec0-42b6-afe1-aa04ce0cee81",
            tfidf_score: 0.09273312035058126,
            skill: "drive fast",
          },
          {
            skill_id: "ebfe7b18-1fad-463f-9509-8ef1a5736045",
            tfidf_score: 0.07683601400476733,
            skill: "be flexible",
          },
          {
            skill_id: "3782a625-52c2-46c7-b585-35ba4ddc4a1d",
            tfidf_score: 0.07418649628046502,
            skill: "hand working",
          },
          {
            skill_id: "a1c3797a-b6b8-43d7-aed6-1686373d1a1a",
            tfidf_score: 0.07153697855616269,
            skill: "tiling",
          },
        ],
        "data-a092580b3e553d4d8deff6d61ac90232": [
          { x: 0, y: 0, greenness: "low-mid", color: "#C4A484" },
          { x: 0, y: 0, greenness: "low", color: "#964B00" },
          { x: 0, y: 0, greenness: "mid-high", color: "#90EE90" },
          { x: 0, y: 0, greenness: "high", color: "#023020" },
        ],
      },
    };
    var embedOpt = { mode: "vega-lite" };

    function showError(el, error) {
      el.innerHTML =
        '<div style="color:red;">' +
        "<p>JavaScript Error: " +
        error.message +
        "</p>" +
        "<p>This usually means there's a typo in your chart specification. " +
        "See the javascript console for the full traceback.</p>" +
        "</div>";
      throw error;
    }
    const el = document.getElementById("chart5");
    vegaEmbed("#chart5", spec, embedOpt).catch((error) =>
      showError(el, error)
    );
  })(vegaEmbed);
</script>
