@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Averta";
  font-weight: 400;
  src: url("Averta-Regular.otf");
}

@font-face {
  font-family: "Averta";
  font-weight: 600;
  src: url("Averta-Semibold.otf");
}

@font-face {
  font-family: "Averta";
  font-weight: 700;
  src: url("Averta-Bold.otf");
}

@layer components {
  a {
    @apply underline hover:no-underline;
  }
  .choices {
    @apply mb-2 !important;
  }
}

.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.pagination span {
  margin: 0 0.125rem;
}
